<!DOCTYPE html>
<html>
  <head>
    <title>ElasticSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= form_tag search_path, :method => :get do %>
		  <%= text_field_tag :query, params[:query] %> <%= submit_tag "Search" %>
		<% end %>
    <%= yield %>
  </body>
</html>
